.body {
    position: relative;
    background-color: hsl(218, 28%, 13%);
    max-width: 100vw;
    font-family: 'Raleway', sans-serif;
    color: White;
    overflow-x: hidden;
}



.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
}