.body {
    position: relative;
    background-color: hsl(217, 30%, 15%);
    max-width: 100vw;
    font-family: 'Raleway', sans-serif;
    color: White;
    overflow-x: hidden;
}



.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
}

.mountain {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    height: 16%;
    z-index: -1;
}

.mountainBackground {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 60%;
    background-color: hsl(217, 28%, 13%);
    z-index: -3;
}