.footer {
    position: relative;
    display: flex;
    padding: 300px 50px 100px;
    margin-top: 200px;
    background-color: hsl(216, 53%, 9%);
}

.locationContact {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.location {
    display: flex;
}

.location__paragraph {
    max-width: 200px;
    padding-right: 20px;
}

.location__img {
    width: 25px;
    height: 25px;
    margin: 20px 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 70%;
    margin: 0 auto;
}

.flexcontainer__logo {
    flex-basis: 100%;
    margin-bottom: 50px;
}

.links {
    display: flex;
    margin: 0 auto;
}

.links__link {
    font-size: 18px;
    text-decoration: none;
    line-height: 2;
    color: white;
}

.links__link:hover {
    border-bottom: 1px solid white;
}

.links__list {
    list-style: none;
}

.about {
    display: flex;
}