.getStarted {
    line-height: 1.5;
    text-align: center;
}

.getStarted__intro {
    max-width: 50vw;
    min-width: 400px;
    margin-bottom: 25px;
}

.getStarted__welcomeInfo {
    margin: 0 auto;
    max-width: 550px;
    font-size: 30px;
    margin-bottom: 20px;
}

.getStarted__info {
    margin: 0 auto;
    max-width: 550px;
    font-size: 18px;
}

.getStarted__startBtn {
    margin-top: 30px;
    padding: 15px 70px;
    border: none;
    border-radius: 30px;
    background-color: hsl(194, 65%, 43%);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.getStarted__startBtn:hover {
    background-color: hsl(194, 65%, 50%);
}