.join {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(218, 28%, 13%);
    box-shadow: 2px 2px 10px 5px hsl(216, 53%, 6%);
    max-width: 1000px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
}

.join__title {
    font-size: 30px;
}

.join__paragraph {
    margin: -20px auto 50px;
    max-width: 70%;
}

.getStarted__form {
    padding: 0 50px;
}

.getStarted__input {
    padding: 10px;
    width: 450px;
    min-width: 200px;
    border-radius: 50px;
}

.getStarted__button {
    padding: 10px 35px;
    margin-left: 15px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: hsl(194, 65%, 43%);
}

.getStarted__button:hover {
    cursor: pointer;
}