.join {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(218, 28%, 13%);
    box-shadow: 2px 2px 10px 5px hsl(216, 53%, 6%);
    max-width: 1000px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
}

.join__title {
    font-size: 30px;
}

.join__paragraph {
    flex-basis: 80%;
    margin-top: -50px;
}

.getStarted__input {
    padding: 10px;
    width: 450px;
    border: none;
    border-radius: 50px;
    height: 45px;
}

.getStarted__button {
    padding: 14px 35px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: hsl(194, 65%, 43%);
    transition: .2s;

}

.getStarted__button:hover {
    background-color: hsl(194, 65%, 50%);
    cursor: pointer;
}

@media (max-width: 1240px) {

    .join {
        height: 400px;
    }

    .getStarted__button {
        margin: 10px 0 0 0;
        width: 450px;
    }

    .join__paragraph {
        margin: -20px auto 20px;
    }
}

@media (max-width: 920px) {
    .getStarted__form {
        margin: 0 20px;
    }
}

@media (max-width: 454px) {
    .getStarted__input {
        width: 400px;
    }

    .getStarted__button {
        width: 400px;
    }
}

@media (max-width: 414px) {
    .getStarted__input {
        width: 370px;
    }

    .getStarted__button {
        width: 370px;
    }
}

@media (max-width: 375px) {
    .getStarted__input {
        width: 320px;
    }

    .getStarted__button {
        width: 320px;
    }
}