.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    height: 800px;
    margin: 130px auto 0;
    /* border: 2px solid white; */

}

.offer__item {
    width: 400px;
    text-align: center;
    /* border: 2px solid red; */
}

.offer__img {
    width: 120px;
    margin-bottom: 20px;
}

.offer__img--second {
    width: 100px;
}

.offer__title {
    margin-bottom: -10px;
}

.offer__paragraph {
    padding: 0 10px;
}

.offer__paragraph--second {
    padding: 0 15px;
}