.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: 130px auto 0;
}

.offer__item {
    width: 400px;
    min-width: 300px;
    text-align: center;
    margin-bottom: 80px;
}

.offer__img {
    width: 120px;
    margin-bottom: 20px;
}

.offer__img--second {
    width: 100px;
}

.offer__title {
    margin-bottom: -10px;
}

.offer__paragraph {
    padding: 0 10px;
}

.offer__paragraph--second {
    padding: 0 15px;
}