.stayProductive {
    margin-top: 100px;
}

.stayProductive__title {
    font-size: 45px;
}

.stayProductive__paragraph {
    font-size: 20px;
    width: 700px;
}

.stayProductive__paragraph--second {
    font-size: 20px;
}

.div {
    margin-left: 750px;
    margin-top: -450px;
}

.stayProductive__img {
    width: 700px;
}

.stayProductive__link {
    text-decoration: none;
    color: rgb(127, 251, 255);
    border-bottom: 2px solid rgb(127, 251, 255);
}