.stayProductive {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 100px;

}

.stayProductive__img {
    padding-left: 10px;
    flex-basis: 700px;
}

.div {
    margin-top: 50px;
    flex-basis: 45%;
}

.stayProductive__title {
    font-size: 45px;
}

.stayProductive__paragraph {
    padding-right: 10px;
    font-size: 20px;
}

.stayProductive__link {
    text-decoration: none;
    color: rgb(127, 251, 255);
    border-bottom: 2px solid rgb(127, 251, 255);
}

@media (max-width: 1275px) {

    .stayProductive__img {
        margin: 0 auto;
    }

    .div {
        margin: 0 auto;
    }
}