/* .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  } */

/* ountainBackground :background-color: hsl(218, 28%, 13%);*/

/* font-family: 'Raleway', sans-serif; */


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}