.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 10px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.team__article {
    max-width: 420px;
    min-width: 300px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: hsl(217, 28%, 17%);
}

.team__paragraph {
    font-size: 15px;
    text-align: justify;
}

.teamPerson {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.teamPerson__img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}


.teamPerson__name {
    margin-bottom: 5px;
    font-size: 10px;
}

.teamPerson__position {
    font-size: 8px;
}

@media (max-width: 800px),
(max-width:1276px) {

    .team__article {
        margin: 0 auto 20px;
    }
}

@media (max-width:1280px) {
    .team__article {
        width: 400px;
    }
}